In [1]:
1

1

In [3]:
1.0

1.0

In [4]:
1 + 1

2

In [5]:
1 * 3

3

In [6]:
1/2.0

0.5

In [7]:
2 ** 4

16

In [8]:
2 + 3 * 5 + 5

22

In [9]:
（2+3） * （5+5）

SyntaxError: invalid character in identifier (<ipython-input-9-124c6508d9f1>, line 1)

In [10]:
(2+3) * (5+5)

50

In [11]:
4 % 2

0

In [12]:
5 % 2

1

In [13]:
8 % 2

0

In [14]:
var = 2

In [15]:
var

2

In [16]:
x = 2
y = 3

In [17]:
x + y

5

In [18]:
x = x+x

In [19]:
x

4

In [20]:
x

4

In [21]:
x = x+x

In [22]:
x

8

In [23]:
name_of_var = 12

In [24]:
# Strings

In [25]:
'single quote'

'single quote'

In [26]:
"this is a string"

'this is a string'

In [27]:
"I can't go"

"I can't go"

In [28]:
x = 'hello'

In [29]:
x

'hello'

In [30]:
print(x)

hello

In [31]:
num = 12
name = 'Sam'

In [34]:
print('My number is {one} and my name is {two}'.format(one=num, two=name))

My number is 12 and my name is Sam

In [40]:
s = 'abcdefghijk'

In [41]:
s[0:]

'abcdefghijk'

In [42]:
s[:3]

'abc'

In [44]:
s[3:6]

'def'

In [45]:
[1,2,3]

[1, 2, 3]

In [46]:
['a', 'b', 'c']

['a', 'b', 'c']

In [47]:
my_list = ['a', 'b', 'c']

In [48]:
my_list.append('d')

In [49]:
my_list

['a', 'b', 'c', 'd']

In [50]:
my_list[0]

'a'

In [51]:
my_list[1:3]

['b', 'c']

In [52]:
my_list[0] = 'NEW'

In [53]:
my_list

['NEW', 'b', 'c', 'd']

In [54]:
nest = [1,2,[3,4]]

In [55]:
nest

[1, 2, [3, 4]]

In [57]:
nest[2][1]

4

In [58]:
nest = [1,2,3,[4,5,['target']]]

In [60]:
print(nest[3][2][0])

target

In [61]:
d = {'key1':'value','key2':123}

In [62]:
d[0]

KeyError: 0

In [63]:
d['key1']

'value'

In [64]:
d['key2']

123

In [65]:
d = {'k1':[1,2,3]}

In [67]:
d['k1'][1]

2

In [68]:
my_list =d['k1']

In [69]:
my_list[0]

1

In [70]:
d['k1'][0]

1

In [71]:
d = {'k1':{'innerkey':[1,2,3]}}

In [72]:
d['k1']['innerkey'][1]

2

In [73]:
True

True

In [74]:
False

False

In [75]:
my_list = [1,2,3]

In [76]:
my_list[0]

1

In [77]:
t = (1,2,3)

In [78]:
t[0]

1

In [80]:
my_list[0] = 'NEW'

In [81]:
my_list

['NEW', 2, 3]

In [82]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [83]:
{1,2,3}

{1, 2, 3}

In [84]:
{1,1,1,2,2,2,3,3,3,3}

{1, 2, 3}

In [85]:
set([1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,5])

{1, 2, 3, 5}

In [86]:
s = {1,2,3}

In [87]:
s.add(5)

In [88]:
s

{1, 2, 3, 5}

In [89]:
s.add(3)

In [90]:
s

{1, 2, 3, 5}

In [91]:
1>2

False

In [92]:
1 < 2

True

In [93]:
1 >= 1

True

In [94]:
1 <=0

False

In [95]:
1 == 1

True

In [96]:
1 == 2

False

In [97]:
1 != 3

True

In [98]:
'hi' == 'bye'

False

In [99]:
'hi' != 'bye'

True

In [101]:
(1 < 2) and (2 > 3)

False

In [102]:
(1 < 2) or (2 > 3)

True

In [104]:
if 1<2:
    print('yep!')

yep!

In [105]:
if True:
    print('Perform Code')

Perform Code

In [106]:
if True:
    x = 1 + 1

In [107]:
x

2

In [112]:
if 1 == 2:
    print('First')
elif 4==4:
    print('Second')
elif 3 == 3:
    print('Middle')
else:
    print('last')

Second

In [113]:
seq = [1,2,3,4,5]

In [117]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [118]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [121]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [125]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
x = [1,2,3,4]

In [128]:
out = []

for num in x:
    out.append(num**2)

In [129]:
print(out)

[1, 4, 9, 16]

In [130]:
[num**2 for num in x]

[1, 4, 9, 16]

In [137]:
def my_func(name ='Defalut Name'):
    print('Hello ' + name)

In [140]:
my_func('Jose')

Hello Jose

In [144]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [142]:
output = square(2)

In [143]:
output

4

In [152]:
t = lambda var:var*2

In [153]:
t(6)

12

In [147]:
# map()

In [148]:
seq = [1,2,3,4,5]

In [154]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [155]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [156]:
s = 'hello my name is Sam'

In [157]:
s.lower()

'hello my name is sam'

In [158]:
s.upper()

'HELLO MY NAME IS SAM'

In [159]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [160]:
tweet = 'Go Sports! #Sports'

In [161]:
tweet.split('#')[1]

'Sports'

In [162]:
d = {'k1': 1, 'k2':2}

In [163]:
d

{'k1': 1, 'k2': 2}

In [164]:
d.keys()

dict_keys(['k1', 'k2'])

In [165]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [166]:
d.values()

dict_values([1, 2])

In [167]:
lst = [1,2,3]

In [168]:
lst.pop()

3

In [170]:
lst.pop()

2

In [171]:
lst

[1]

In [180]:
lst = [1,2,3,4,5]

In [181]:
item = lst.pop()

In [182]:
lst

[1, 2, 3, 4]

In [183]:
item

5

In [184]:
first = lst.pop(0)

In [185]:
lst

[2, 3, 4]

In [186]:
first

1

In [187]:
lst.append('new')

In [188]:
lst

[2, 3, 4, 'new']

In [189]:
'x' in [1,2,3]

False

In [190]:
'x' in ['x', 'y', 'z']

True

In [191]:
x = [(1,2),(3,4),(5,6)]

In [193]:
x[0][1]

2

In [199]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [201]:
{print([2,2,3,3,3,4])}

[2, 2, 3, 3, 3, 4]

{None}

In [208]:
s = 'dog dog dog is a good dog'

In [214]:
list(filter(lambda word: word == 'dog', l))

['dog', 'dog', 'dog', 'dog']

In [210]:
set(s)

{' ', 'a', 'd', 'g', 'i', 'o', 's'}

In [212]:
l = s.split(' ')

In [220]:
def findDog(s):
    l = s.split(' ')
    l_dog = list(filter(lambda word: word == 'dog', l))
    if len(l_dog) == 0:
        print('False')
    else:
        print('True')

In [222]:
findDog(s2)

False

In [221]:
s2 = 'cat cat cat is a good cat'

In [223]:
l = ['cat', 'dog', 'wolf', 'fox']

In [227]:
l[0]

'cat'

In [229]:
a = 'cat'

In [230]:
a.split()

['cat']

In [231]:
set(l)

{'cat', 'dog', 'fox', 'wolf'}